miniCRM HTML Template for list view

	--- Markers within loop ---
	
    
    --- Markers out of the loop ---
    

	GLOBAL MARKERS:
	Displaying any value from pi1/locallang.xml:			###MINICRM_LL_YOURFIELD### (Could be filled via locallang.xml or typoscript - see manual for details)
	Displaying any value from typoscript:					###MINICRM_TS_YOURFIELD### (Could be filled via typoscript - see manual for details)
	
	
	
<!-- ###MINICRM_LIST### begin --> 
    <div class="minicrm_list">
        <!-- ###CONTENT### --><!-- ###ITEM### -->
        	###NOTE###
            <div class="minicrm_list_inner ###CLASS###">
                ###ALL###
            </div>
        <!-- ###ITEM### --><!-- ###CONTENT### -->
        <div class="clear"></div>
    </div>
<!-- ###MINICRM_LIST### end -->